.container {
	position: relative;
	display: block;

	.arrow {
		position: absolute;
		transform: rotate(45deg);
		height: 75%;
		width: 75%;
		right: -16.5%;
		top: -16.5%;
		color: inherit;
		transition: transform 0.15s ease-in;
	}

	.square {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		color: inherit;
		clip-path: polygon(0 0, 50% 0, 50% 50%, 100% 50%, 100% 100%, 0 100%);
	}

	&.active .arrow {
		transform: translate(12.5%, -12.5%) rotate(45deg);
	}
}
